.appbrain-ranking {
  display: flex;
  justify-content: space-between;
  padding: 60px 80px;
  gap: 40px;
}

.leaderboard {
  width: 40%;
}

.leaderboard-title {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #0a0a0a;
  margin-bottom: 20px;
  text-align: center;
}

.leaderboard-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ranking-item {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.app-icon {
  width: 461px;
  height: 584px;
  object-fit: cover;
  border-radius: 48px;
  background-color: #F5F6FA;
}


.ranking-info {
  width: 755px;
  height: 600px;
  display: flex;
  flex-direction: column;
  gap: 18px; 
}

.ranking-title {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 48px;
  color: #0a0a0a;
  margin-bottom: 16px;
  line-height: 60px;
  letter-spacing: 0%;
  vertical-align: bottom;
}

.ranking-description {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  color: #989B9D;
  margin-bottom: 40px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: bottom;
}

.collapsible {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.collapsible.active {
  background-color: #E4E9EC; 
}

.collapsible-header {
  display: flex;
  justify-content: space-between;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.collapsible-content {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #717375;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .appbrain-ranking {
    flex-direction: column;
    align-items: center;
  }

  .leaderboard {
    width: 100%;
    margin-bottom: 40px;
  }

  .ranking-info {
    width: 100%;
  }

  .leaderboard-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
}


