.appbrain-promote {
  padding: 60px 80px;
  background-color: #f6f8fb;
  text-align: center;
}

.section-title {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 48px;
  line-height: 60px;
  color: #0a0a0a;
  margin-bottom: 16px;
  letter-spacing: 0%;
  vertical-align: bottom;
}

.section-description1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  line-height: 24px;
  color: #989B9D;
  margin-bottom: 40px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: bottom;
}

.features-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
}

.feature-card {
  background: #ffffff;
  border-radius: 16px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 60px;
}

.feature-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.feature-title {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #0a0a0a;
  margin-bottom: 12px;
  text-align: left;
}

.feature-description {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #717375;
  line-height: 24px;
  text-align: left;
}

.more-info-btn {
  margin-top: 40px;
  padding: 14px 13px;
  background-color: #FFFFFF;
  color: #0A0A0A;
  font-family: Plus Jakarta Sans;
  text-decoration: none;
  border-radius: 100px;
  border: 1px solid #E4E9EC;
  font-weight: 600;
  font-style: SemiBold;
  line-height: 20px;
letter-spacing: 0%;
  font-size: 16px;
  transition: background-color 0.3s;
}

.more-info-btn:hover {
  background-color: #393a3b;
}

@media (max-width: 768px) {
  .appbrain-promote {
    padding: 40px 20px;
  }

  .section-title {
    font-size: 28px;
  }

  .features-list {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
  }

  .feature-card {
    padding: 20px;
  }

  .feature-title {
    font-size: 18px;
  }

  .feature-description {
    font-size: 14px;
  }
}

.section-title,
.section-description1 {
  max-width: 800px;   
  margin: 0 auto 16px; 
}

.section-description1 {
  margin-bottom: 40px; 
}
