.hot-apps {
  display: flex;
  position: relative;
  background: transparent;
  padding: 40px 80px;
  gap: 10px;
  box-sizing: border-box;
}

.hot-apps-center {
  text-align: center;
  width: 100%;
  padding-top: 50px;
}

.hot-apps-title {
  color: #0A0A0A;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0%;
  margin-bottom: 24px;
}

.hot-apps-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.hot-app-card {
  background: #FFFFFF;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 20px;
  position: relative;
}

.hot-app-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 16px;
}

.hot-app-name {
  color: #0A0A0A;
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 8px;
}

.hot-app-description {
  color: #989B9D;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.hot-app-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #0c0c0c;
  color: #fff;
  padding: 8px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 600;
}

.hot-app-btn:hover {
  background: #333435;
}

.view-all-btn {
  color: #0A0A0A;
  padding: 10px 30px;
  border-radius: 20px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  background: #FFFFFF;
  outline: none;
  border: none;
  cursor: pointer;
}


.view-all-btn:hover {
  background: #D1D1D1;
}

.view-all {
  display: flex;
  justify-content: space-between;
}

/* .view-all1{
  width: 101px;
height: 52px;
padding-top: 16px;
padding-right: 20px;
padding-bottom: 16px;
padding-left: 20px;
gap: 8px;
border-radius: 100px;
border-width: 1px;
} */

.view-all1 {
  display: flex;
  gap: 32px;
  align-items: center;
  width: 100%;
  max-width: 540px;
  justify-content: flex-end;
  background-color: #FFFFFF;
  width: 43px;
  height: 20px;
}