.popular-articles {
  width: 100%;
  padding: 40px 80px;
  margin-bottom: 40px;
}
.popular-articles-title {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  letter-spacing: 0%;
  vertical-align: bottom;
  line-height: 40px;
  color: #0a0a0a;
  margin-bottom: 20px;
}
.view-btn {
  color: #0A0A0A;
  padding: 10px 30px;
  border-radius: 20px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  border: 1px solid #E4E9EC;
  outline: none;
  border: none;
  cursor: pointer;
}
.view-btn:hover {
  background: #D1D1D1;
}
.article-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(346px, 1fr));
  gap: 24px;
}
.popular-articles1 {
  display: flex;
  justify-content: space-between;
}
.appbtn1 {
  position: relative;
  margin-left: 21vw;
}
.popu .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.article {
  height: 346px;
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0; 
}
.article img {
  width: 100%;
  height: 250px;
  border-radius: 12px;
}
.popu {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  padding: 12px 16px;
}
.popu-left {
  display: flex;
  align-items: center;
  gap: 12px;
}
.popu-left img {
  height: 72px;
  width: 72px;
  border-radius: 12px;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.article-text {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #0a0a0a;
  margin: 0 0 4px;
}
.date {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #717375;
  margin: 0 0 4px;
}
.ratingpa {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #FFD700;
  margin: 0;
}
.app-btn {
  background: #0d0d0e;
  color: #fff;
  padding: 8px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
